<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Details Page</title>
    <style>
        header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* Change the position property to fixed, and top property to 0 */
  position:fixed;
  top:0;
  /* Change the z-index property to 10 */

color: #08ffd1;
}

.header-left {
  float: left;
}
body {
  margin: 0;
  font-family: "Lucida Grande";
  background-color: #6abadeba;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
    </style>
</head>
<body>


<center>
<br><br>
<p>Email: {{pred4}}</p>
<br><br>
<p>Name: {{pred5}}</p>
<br><br>
<p>DOB: {{pred6}}</p>
<br><br>
<p>Prescriptions: {{pred7}}</p>
<br><br>
<p>Quantities: {{pred8}}</p>
<br><br>
<p>Timings for Doses: {{pred9}}</p>
<br><br><br>
<a href = "{{url_for("back_func") }}">
    <button>Go Back</button>

<a href = "{{url_for("logout_func") }}">
    <button>Exit</button>
</center>
</body>
</html>