<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login or Registeration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
        header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  /* Change the position property to fixed, and top property to 0 */
  position:fixed;
  top:0;
  /* Change the z-index property to 10 */
  z-index:10;
  color: #08ffd1;
}

.header-left {
  float: left;
}
body {
  margin-top: 75px;
  font-family: "Lucida Grande";
  background-color: #6abadeba;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
    </style>

</head>
<body >
<header>
      <div class="container">
        <div class="header-left">
          <h1>Healthcare Webapp</h1>
        </div>
      </div>
</header>

<center>
<br><br>
    <h1> Login or Register</h1>
<br><br><br>
<a href = "{{url_for("login") }}">
    <button class="btn"><i class="fa fa-address-book"></i> LOGIN</button>
</a>
<br><br><br><br><br>

<a href = "{{url_for("register") }}">
    <button class="btn"><i class="fa fa-address-card"></i> REGISTER</button>
</a>
</center>


</body>
</html>